p{
  background-color: Powderblue
  color: Black
}
a{

color: Red
}
body {
  background: white url(https://alannahfitzgerald.files.wordpress.com/2014/09/dogelinguistics.jpg?w=720&amp;h=447
)repeat top right;

  border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: green;
  font-family: sans-serif;
    font-size: 14px;
    color: navy;
    background-color: Powderblue
  }
 h1 {
  color: red


}
